@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:wght@500&family=Roboto:wght@400;700&display=swap');

:root {
    --grayBorder: #d4d4d4;
    --grayDarkBorder: #7a7a7a;
    --green: #169e30;
    --greenBorder: #83b18b;
    --greenLight: #d1efd7;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    margin: 0 16px 32px 16px
}

textarea {
    min-height: 300px;
    width: 500px;
    margin-top: 45px;
    margin-bottom: 45px;
    border: 1px solid var(--grayBorder);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 6px;
}

#output {
    margin-top: 16px;
}

.red-area {
    color: #9e1616;
    background-color: #efd1d1;
    border: 1px solid #b18383;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.green-area {
    color: var(--green);
    background-color: var(--greenLight);
    border: 1px solid var(--greenBorder);
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.bold {
    font-weight: 600;
}

.text-line {
    padding-bottom: 10px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

/* Кнопки */

.btn--submit {
    width: 100%;
    border: 0;
    border-radius: 6px;
    padding: 14px 22px;
    cursor: pointer;
    background-color: var(--green);
    color: white;
}

.btn--submit:hover {
    opacity: .8;
}

.btn--submit:active {
    opacity: .6;
}

/* Модальное окно */

.copied-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--green);
    background-color: var(--greenLight);
    border: 1px solid var(--greenBorder);
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    z-index: 9999;
}

/* Инпуты */

input {
    border-radius: 6px;
    border: 1px solid var(--grayBorder);
    padding: 5px;
    width: auto;
    margin-left: 6px;
}

input:active {
    border: 1px solid var(--grayDarkBorder);
}

label {
    padding: 16px;
}

.section {
    margin-bottom: 16px;
}